<template name="confirmLogin">
    <div class="container text-center mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 mt-5">
                <div class="card shadow-sm">
                    <div class="card-body py-5">
                        <h4 class="card-title text-primary mb-4">Secure Sign In</h4>
                        <p class="lead mb-4">
                            You are about to sign in to Phamerator. Please click the button below to confirm.
                        </p>
                        <div class="mt-4">
                            <button id="confirm-signin" class="btn btn-success btn-lg">
                                <i class="material-icons align-text-bottom me-2">vpn_key</i>
                                Finalize Sign In
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
