<template name="home" style="background-color: #f5f5f5;">
    <!-- Hero Section -->
    <div class="section hero d-flex flex-column justify-content-center overflow-hidden p-0" style="height: calc(100vh - 154px);">
        <div class="row container mx-auto d-flex flex-column justify-content-center flex-grow-1 px-4 py-3">
            <h1 class="header text-primary mb-3 mt-0">Phamerator.org</h1>
            <p class="lead fw-light mb-3 mt-0">Discover and share the story of your
                bacteriophage<i class="material-icons info-icon align-middle ms-1" data-tip="Compare and visualize bacteriophage genomes and annotations.">info_outline</i></p>
            <p class="mt-0 mb-2">
                Phamerator.org is a comparative genomics tool designed for the study of bacteriophages.
                Originally developed for the SEA-PHAGES program, Phamerator.org is now available to all.
                We currently host several different data sets including the primary SEA-PHAGES data set known as
                Actino_Draft. Nearly all of the {{ genomeCount }} genome sequences and annotations found in Actino_Draft
                are the product of dedicated work performed by the SEA-PHAGES students, teaching assistants, and
                faculty.
                We created Phamerator.org to help them discover and share the story of their phages.
            </p>
            <p class="mt-0 mb-3">
                Phamerator.org was created by Steven Cresawn's lab in James Madison University's Center for Genome and
                Metagenome Studies and Department of Biology, where it remains under active development.
            </p>
            <div class="cta-section d-flex justify-content-center flex-wrap gap-4 mt-4 mb-3">
                {{#if currentUser}}
                <a href="/phages" class="btn btn-info btn-lg text-white px-4" title="Begin comparing phages in the database">Get Started</a>
                {{else}}
                <a href="#" id="trigger-login" class="btn btn-info btn-lg text-white px-4" data-bs-toggle="modal" data-bs-target="#magicLinkModal" title="Login to access full features">Sign In to Get Started</a>
                {{/if}}
                <a href="/cresawnlab" class="btn btn-light btn-lg text-dark border px-4" title="Read about the development team">Learn More</a>
                <a href="mailto:info@phamerator.org" class="btn btn-purple btn-lg text-white px-4" title="Send us an email for support or inquiries">Contact Us</a>
            </div>
        </div>
    </div>

</template>