<template name="nav">
  {{#if currentUser}}
  {{ > editDatasetModal}}
  {{ > infoDatasetModal}}
  {{ > datasetDropdown }}
  {{/if}}


  <div class="navbar-fixed">
    <nav class="purple">
      <div class="nav-wrapper">


        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        {{#if currentUser}}
        <ul class="left hide-on-med-and-down">

          {{#unless loggingIn}}
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" title="Select a phage database (e.g., Actino_Draft)">{{preferredDataset}}<i
                class="material-icons right">arrow_drop_down</i></a></li>

          {{#if metadata.metadata}}
          <li>
            <a class="waves-effect waves-light modal-trigger" href="#infoDataset"><i
                class="material-icons">info_outline</i></a>
          </li>
          {{/if}}

          {{#if iAmOwner}}
          <li><button data-target="editDataset" class="waves-effect waves-light btn modal-trigger">Collaborate</button>
          </li>
          {{/if}}
          {{/unless}}
        </ul>
        {{/if}}
        <ul class="right hide-on-med-and-down">
          <li class="{{isActiveRoute regex='home'}}"><a href="{{pathFor 'home'}}"
              class="waves-effect waves-purple lighten-5">Home</a></li>
          {{#if currentUser}}
          <li class="{{isActiveRoute regex='domains'}}"><a href="{{pathFor 'domains'}}"
              class="waves-effect waves-purple lighten-5" title="Search for conserved protein domains (e.g., HNH endonuclease) across phages and view matching genes.">Domains</a></li>
          <li class="{{isActiveRoute regex='phages'}}"><a href="{{pathFor 'phages'}}"
              class="waves-effect waves-purple lighten-5" title="Create comparative genome maps to visualize gene synteny, similarity, and annotations.">Genome Maps</a></li>
          {{/if}}
          {{#if loggedIn}}
          <li class="{{isActiveRoute regex='account'}}"><a href="{{pathFor 'account'}}"
              class="waves-effect waves-purple lighten-5">{{displayname}}</a></li>
          {{/if}}
          <li><a href="#" class="waves-effect waves-light start-tour-btn" title="Start an interactive tour of the application">Tour</a></li>

          {{#if currentUser}}
          <li><a href="#" class="waves-effect waves-light logout-btn"><i class="material-icons left white-text">exit_to_app</i>Logout</a></li>
          {{else}}
          <li><a href="#magicLinkModal" class="waves-effect waves-light modal-trigger"><i class="material-icons left white-text">login</i>Sign In</a></li>
          {{/if}}
        </ul>
        <ul id="mobile-menu" class="sidenav">
          <li class="{{isActiveRoute regex='home'}}"><a href="{{pathFor 'home'}}"
              class="waves-effect waves-purple lighten-5">Home</a></li>

          {{#if loggedIn}}
          <li class="{{isActiveRoute regex='domains'}}"><a href="{{pathFor 'domains'}}"
              class="waves-effect waves-purple lighten-5" title="Search for conserved protein domains (e.g., HNH endonuclease) across phages and view matching genes.">Domains</a></li>
          <li class="{{isActiveRoute regex='phages'}}"><a href="{{pathFor 'phages'}}"
              class="waves-effect waves-purple lighten-5" title="Create comparative genome maps to visualize gene synteny, similarity, and annotations.">Genome Maps</a></li>
          <li class="{{isActiveRoute regex='account'}}"><a href="{{pathFor 'account'}}"
              class="waves-effect waves-purple lighten-5">{{displayname}}</a></li>
          {{/if}}
          <li><a href="#" class="waves-effect waves-light start-tour-btn">Tour</a></li>

          {{#if currentUser}}
          <li><a href="#" class="waves-effect waves-light logout-btn"><i class="material-icons left white-text">exit_to_app</i>Logout</a></li>
          {{else}}
          <li><a href="#magicLinkModal" class="waves-effect waves-light modal-trigger"><i class="material-icons left white-text">login</i>Sign In</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  {{> magicLinkModal }}
  <footer class="page-footer cyan">
    <div class="footer-copyright cyan">
      <div class="container">
        Phamerator.org {{version}} © Steven Cresawn, Ph.D. and SEA-PHAGES 2016-{{now}}. All rights reserved.<a
          class="grey-text text-lighten-4" href="{{pathFor 'terms'}}">Terms and Policies</a>
        <a class="grey-text text-lighten-4 right" href="https://seaphages.org" title="Science Education Alliance-Phage Hunters Advancing Genomics and Evolutionary Science">SEA-PHAGES</a>
        <div id="preloader">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-yellow-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>
</template>