<template name="phages">
  {{> mapSettingsModal}}
  {{#if newFeature}}
  {{> featureDiscovery}}
  {{/if}}

  <div id="geneData" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5>{{selectedGeneTitle}}</h5>
      <ul class="tabs" style="overflow-x: hidden !important; display: flex;">
        <li class="tab" style="flex-grow: 1;"><a href="#dna-seq" style="padding: 0 5px; font-size: 12px;">DNA</a></li>
        <li class="tab" style="flex-grow: 1;"><a href="#protein-seq"
            style="padding: 0 5px; font-size: 12px;">Protein</a></li>
        <li class="tab" style="flex-grow: 1;"><a href="#domains" style="padding: 0 5px; font-size: 12px;">Domains</a>
        </li>
        {{#if schemaVersionMin11}}
        <li class="tab" style="flex-grow: 1;"><a href="#transmembrane-domains"
            style="padding: 0 5px; font-size: 12px;">TM Domains</a></li>
        {{/if}}
        <li class="tab" style="flex-grow: 1;"><a href="#pham-clusters"
            style="padding: 0 5px; font-size: 12px;">Clusters</a></li>
        <li class="tab" style="flex-grow: 1;"><a href="#notes" style="padding: 0 5px; font-size: 12px;">Function</a>
        </li>
      </ul>

      <div id="dna-seq">
        <div
          style="position: absolute; top: 115px; bottom: 24px; left: 24px; right: 24px; display: flex; flex-direction: column;">
          <textarea readonly id="gene_dna_seq" class="sequence-view">{{selectedGene}}</textarea>
          <div>
            <button id="copy-dna-button" class="waves-effect waves-green btn btn-copy-link"
              data-clipboard-target="#gene_dna_seq">Copy to Clipboard</button>
          </div>
        </div>
      </div>

      <div id="protein-seq">
        <div
          style="position: absolute; top: 115px; bottom: 24px; left: 24px; right: 24px; display: flex; flex-direction: column;">
          <textarea readonly id="gene_protein_seq" class="sequence-view">{{selectedProtein}}</textarea>
          <div>
            <button id="copy-protein-button" class="waves-effect waves-green btn btn-copy-link"
              data-clipboard-target="#gene_protein_seq">Copy to Clipboard</button>
          </div>
        </div>
      </div>

      <div id="domains">
        <p>These domains were detected in NCBI's Conserved Domain Database (CDD) using <a
            href="https://www.ncbi.nlm.nih.gov/Structure/cdd/cdd_help.shtml#RPSBWhat" target="_blank">RPS-BLAST</a>.</p>
        <svg id="svgDomain"></svg>
        <ul class="collapsible" data-collapsible="expandable">
          {{ #each domain in selectedDomains}}
          <li id={{domain.domainname}}>
            <div class="collapsible-header" id={{domain.domainname}}>{{domain.domainname}}</div>
            <div class="collapsible-body" id={{domain.domainname}}>
              <ul>
                <li>
                  <a href={{domain.domainLink}} target="_blank"><i class="material-icons">insert_link</i></a>
                </li>
                <li>
                  {{domain.description}}

                </li>
                <br />
                <li><u>
                    Protein Alignment Data:
                  </u></li>
                <li>
                  Query Start (Amino Acid Position): {{domain.query_start}}
                </li>
                <li>
                  Query End (Amino Acid Position): {{domain.query_end}}
                </li>
                <li>
                  E-Value: {{domain.expect}}
                </li>
              </ul>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

      {{#if schemaVersionMin11}}
      <div id="transmembrane-domains">
        <p>These domains were detected using <a href="https://biolib.com/DTU/DeepTMHMM/" target="_blank">DeepTMHMM</a>.
          Click the blue rectangles in the diagram or the <em>domain match</em> labels below to learn more.
        </p>

        <svg id="svgTMDomain"></svg>
        <ul class="collapsible" data-collapsible="expandable">
          {{ #each domain in selectedTMDomains}}
          <li id="tm-domain-{{domain._id._str}}">
            <div class="collapsible-header" id="tm-domain-{{domain._id._str}}">
              domain match</div>
            <div class="collapsible-body" id="tm-domain-{{domain._id._str}}">
              <ul>
                <br />
                <li><u>
                    {{domain.source}}
                  </u></li>
                <li>
                  Query Start (Amino Acid Position): {{domain.query_start}}
                </li>
                <li>
                  Query End (Amino Acid Position): {{domain.query_end}}
                </li>
                <li>
                  Type: {{domain.type}}
                </li>
              </ul>
            </div>
          </li>
          {{/each}}
        </ul>

        {{#unless selectedTMDomains.length}}
        <div class="row" style="margin-top: 20px;">
          <div class="col s12 center-align grey-text">
            <i class="material-icons" style="font-size: 3rem;">info_outline</i>
            <p>No transmembrane domains were detected for this gene.</p>
          </div>
        </div>
        {{/unless}}
      </div>
      {{/if}}

      <div id="pham-clusters">
        <p>These clusters each contain a phage whose genome encodes a member of pham {{selectedPham}}. Select a
          cluster to
          see these phages.</p>
        <ul class="collapsible" data-collapsible="expandable">
          {{ #each c in selectedClusters}}
          <li>
            <div class="collapsible-header">{{c.cluster}}</div>
            <div class="collapsible-body">
              <ul>
                {{#each p in c.phages}}
                <li>{{p}}</li>
                {{/each}}
              </ul>
            </div>
          </li>

          {{/each}}
        </ul>
      </div>
      <div id="notes">
        <p id="notes">{{selectedGeneNotes}}</p>
      </div>
    </div>

    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>


  <div class="row" style="margin-bottom: 0;">
    <div id="genome-map-tabs" class="col s12" style="padding: 0;">
      <ul class="tabs" style="overflow-x: hidden !important;">
        <li class="tab col s6 m6 l6"><a class="active" href="#phages-list">Select Phages</a></li>
        <li class="tab col s6 m6 l6"><a id="viewMapTab" href="#genome-map">View Map</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div id="phages-list" class="col s12">
      <ul id="cluster-list" class="collapsible" data-collapsible="expandable">
        {{#each clusters}}
        {{> cluster}}
        {{/each}}

      </ul>
      <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a id="menu" class="btn-floating btn-large waves-effect waves-light">
          <i class="material-icons">menu</i>
        </a>
        <ul>
          <li><a id="scroll_top" class="waves-effect waves-purple btn-floating orange ">
              <i class="material-icons left">arrow_upward</i>up
            </a></li>
          <li><a id="collapse_all"
              class="waves-effect waves-yellow btn-floating light-blue darken-1 {{class_if_clusters_open}}">
              <i class="material-icons left">remove</i>remove
            </a></li>
          <li><a id="expand_all" class="waves-effect waves-yellow btn-floating light-blue {{class_if_clusters_closed}}">
              <i class="material-icons left">add</i>search
            </a></li>
          <li><a id="clearSelection"
              class="waves-effect waves-yellow btn-floating purple {{class_if_genomes_selected}}">
              <i class="material-icons left">clear</i>Clear Selection
            </a></li>
        </ul>
      </div>
    </div>

    <div id="genome-map" class="col s12">
      <svg id="svg-genome-map"></svg>
      <div id="genome-map-horizontal-scrollbar">
        <div id="genome-map-horizontal-thumb"></div>
      </div>
      <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
        <a id="menu2" class="waves-effect waves-light btn-floating btn-large">
          <i class="material-icons">menu</i>
        </a>
        <ul>
          <li>
            <button class="downloadGenomeMap waves-effect waves-yellow btn-floating purple">
              <i class="material-icons left">system_update_alt</i>Export Genome Map
            </button>
          </li>
          <li>
            <button class="mapSettings waves-effect waves-purple btn-floating yellow">
              <i class="material-icons left">settings</i>Settings
            </button>
          </li>
        </ul>
      </div>


    </div>
  </div>
</template>

<template name="cluster">
  <li>
    <div class="collapsible-header">
      <input type="checkbox" id="cluster-{{name}}" data-cluster="{{cluster}}" data-subcluster="{{subcluster}}"
        class="filled-in clusterCheckbox" checked="{{clusterIsChecked phages}}" />
      <label for="cluster-{{name}}">
        {{name}}
      </label>

      <span class="{{selectedClass}}"
        data-badge-caption="{{dataBadgeCaption}}">{{selectedCount}}</span>
    </div>
    <div class="collapsible-body">
      <ul class="clusterSelector">
        {{#if renderPhages}}
        {{#each p in phages}}
        <li class="phageSelector">
          <input type="checkbox" id="{{p.phagename}}" class="filled-in phageCheckbox" checked="{{phageIsChecked p.phagename}}" />
          <label for="{{p.phagename}}">{{p.phagename}}</label>
        </li>
        {{/each}}
        {{/if}}
      </ul>
    </div>
  </li>
</template>